In [166]:
import polars as pl
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import make_column_transformer
from sklearn.decomposition import PCA

In [167]:
pl.Config.set_tbl_cols(-1)
pl.Config.set_tbl_rows(-1)

polars.config.Config

In [168]:
df = pl.scan_parquet('dados_parquet/*/*.parquet').collect()

In [169]:
df.head()

shape: (5, 15)
┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬────────┬───────┬───────┬───────┐
│ ANO ┆ PES ┆ ALT ┆ MUN ┆ UF_ ┆ PAI ┆ EST ┆ SEX ┆ ESC ┆ VIN ┆ DIS ┆ ZONA_R ┆ MUN_R ┆ UF_RE ┆ PAIS_ │
│ _NA ┆ O   ┆ URA ┆ _NA ┆ NAS ┆ S_N ┆ ADO ┆ O   ┆ OLA ┆ CUL ┆ PEN ┆ ESIDEN ┆ ESIDE ┆ SIDEN ┆ RESID │
│ SCI ┆ --- ┆ --- ┆ SCI ┆ CIM ┆ ASC ┆ _CI ┆ --- ┆ RID ┆ ACA ┆ SA  ┆ CIAL   ┆ NCIA  ┆ CIA   ┆ ENCIA │
│ MEN ┆ str ┆ str ┆ MEN ┆ ENT ┆ IME ┆ VIL ┆ str ┆ ADE ┆ O_A ┆ --- ┆ ---    ┆ ---   ┆ ---   ┆ ---   │
│ TO  ┆     ┆     ┆ TO  ┆ O   ┆ NTO ┆ --- ┆     ┆ --- ┆ NO  ┆ str ┆ str    ┆ str   ┆ str   ┆ str   │
│ --- ┆     ┆     ┆ --- ┆ --- ┆ --- ┆ str ┆     ┆ str ┆ --- ┆     ┆        ┆       ┆       ┆       │
│ str ┆     ┆     ┆ str ┆ str ┆ str ┆     ┆     ┆     ┆ str ┆     ┆        ┆       ┆       ┆       │
╞═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╡
│ 198 ┆ 95  ┆ 181 ┆ DES ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ PIRAS ┆ SP    ┆ BRASI │
│ 9   ┆     ┆     ┆ CAL ┆     ┆ SIL ┆ tei ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ SUNUN ┆       ┆ L     │
│     ┆     ┆     ┆ VAD ┆     ┆     ┆ ro  ┆     ┆ Méd ┆     ┆ pen ┆        ┆ GA    ┆       ┆       │
│     ┆     ┆     ┆ O   ┆     ┆     ┆     ┆     ┆ io  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ 64  ┆ 173 ┆ CAT ┆ SP  ┆ BRA ┆ Cas ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ SAO   ┆ SP    ┆ BRASI │
│ 9   ┆     ┆     ┆ AND ┆     ┆ SIL ┆ ado ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ PAULO ┆       ┆ L     │
│     ┆     ┆     ┆ UVA ┆     ┆     ┆     ┆     ┆ Sup ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ eri ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ or  ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ 82  ┆ 171 ┆ CAT ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ CATAN ┆ SP    ┆ BRASI │
│ 9   ┆     ┆     ┆ AND ┆     ┆ SIL ┆ tei ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ DUVA  ┆       ┆ L     │
│     ┆     ┆     ┆ UVA ┆     ┆     ┆ ro  ┆     ┆ Méd ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ io  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ nul ┆ nul ┆ SAN ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ PIRAJ ┆ SP    ┆ BRASI │
│ 9   ┆ l   ┆ l   ┆ TO  ┆     ┆ SIL ┆ tei ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ UI    ┆       ┆ L     │
│     ┆     ┆     ┆ AND ┆     ┆     ┆ ro  ┆     ┆ Méd ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆ RE  ┆     ┆     ┆     ┆     ┆ io  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ nul ┆ nul ┆ PIR ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ 3ª  ┆ 200 ┆ Sem ┆ Urbana ┆ PIRAJ ┆ SP    ┆ BRASI │
│ 9   ┆ l   ┆ l   ┆ AJU ┆     ┆ SIL ┆ tei ┆     ┆ Sér ┆ 7   ┆ dis ┆        ┆ UI    ┆       ┆ L     │
│     ┆     ┆     ┆ I   ┆     ┆     ┆ ro  ┆     ┆ ie  ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ do  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Ens ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ino ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Méd ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ io  ┆     ┆     ┆        ┆       ┆       ┆       │
└─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴────────┴───────┴───────┴───────┘

In [170]:
df.shape

(26569408, 15)

In [171]:
for col in df.columns:
    tem_nulos = df.select(
        pl.col(col).null_count()
    ).item()
    if (tem_nulos > 0):
        print(f'Coluna {col} tem nulos.')

Coluna PESO tem nulos.
Coluna ALTURA tem nulos.
Coluna DISPENSA tem nulos.

In [172]:
df.group_by('VINCULACAO_ANO').agg(
    ((pl.col('PESO').null_count().sum() / pl.col('PESO').len()) * 100).round(2).alias('peso_qtd_nulos (%)'),
    ((pl.col('ALTURA').null_count().sum() / pl.col('ALTURA').len()) * 100).round(2).alias('altura_qtd_nulos (%)'),
)

shape: (18, 3)
┌────────────────┬────────────────────┬──────────────────────┐
│ VINCULACAO_ANO ┆ peso_qtd_nulos (%) ┆ altura_qtd_nulos (%) │
│ ---            ┆ ---                ┆ ---                  │
│ str            ┆ f64                ┆ f64                  │
╞════════════════╪════════════════════╪══════════════════════╡
│ 2016           ┆ 79.34              ┆ 79.35                │
│ 2013           ┆ 80.15              ┆ 80.15                │
│ 2008           ┆ 81.6               ┆ 81.47                │
│ 2022           ┆ 70.52              ┆ 70.52                │
│ 2017           ┆ 74.84              ┆ 74.82                │
│ 2023           ┆ 56.78              ┆ 56.78                │
│ 2024           ┆ 0.0                ┆ 0.0                  │
│ 2010           ┆ 79.92              ┆ 79.92                │
│ 2021           ┆ 67.53              ┆ 67.53                │
│ 2007           ┆ 81.15              ┆ 80.7                 │
│ 2018           ┆ 68.11              ┆ 68.11                │
│ 2015           ┆ 79.52              ┆ 79.52                │
│ 2014           ┆ 80.2               ┆ 80.19                │
│ 2012           ┆ 81.24              ┆ 81.24                │
│ 2011           ┆ 79.71              ┆ 79.71                │
│ 2020           ┆ 68.1               ┆ 68.12                │
│ 2019           ┆ 0.0                ┆ 0.0                  │
│ 2009           ┆ 78.75              ┆ 78.74                │
└────────────────┴────────────────────┴──────────────────────┘

In [173]:
df = df.drop(['PESO', 'ALTURA'])

In [174]:
df.select('DISPENSA').unique().to_series().to_list()

['Com dispensa', None, 'null', 'Sem dispensa']

In [175]:
for col in df.columns:
    df = df.with_columns(
        pl.col(col).replace('null', None)
    )

In [176]:
for col in df.columns:
    tem_nulos = df.select(
        pl.col(col).null_count()
    ).item()
    if (tem_nulos > 0):
        print(f'Coluna {col} tem nulos.')

Coluna DISPENSA tem nulos.

In [177]:
df = df.filter(
    pl.col('DISPENSA').is_not_null()
).with_columns(
    foi_convocado = pl.when(
        pl.col('DISPENSA') == 'Sem dispensa'
    ).then(True).otherwise(False)
).drop('DISPENSA')

In [178]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬────────┬──────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ PAIS_N ┆ ESTADO ┆ SEXO ┆ ESCOL ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ PAIS_ ┆ foi_c │
│ _NA ┆ _NA ┆ NAS ┆ ASCIME ┆ _CIVIL ┆ ---  ┆ ARIDA ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ RESID ┆ onvoc │
│ SCI ┆ SCI ┆ CIM ┆ NTO    ┆ ---    ┆ str  ┆ DE    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ENCIA ┆ ado   │
│ MEN ┆ MEN ┆ ENT ┆ ---    ┆ str    ┆      ┆ ---   ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ TO  ┆ TO  ┆ O   ┆ str    ┆        ┆      ┆ str   ┆ str   ┆ ---   ┆ str   ┆ str   ┆ str   ┆ bool  │
│ --- ┆ --- ┆ --- ┆        ┆        ┆      ┆       ┆       ┆ str   ┆       ┆       ┆       ┆       │
│ str ┆ str ┆ str ┆        ┆        ┆      ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪════════╪══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ BRASI ┆ true  │
│ 9   ┆ CAL ┆     ┆        ┆ ro     ┆      ┆ o     ┆       ┆ a     ┆ SUNUN ┆       ┆ L     ┆       │
│     ┆ VAD ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆ GA    ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ BRASIL ┆ Casado ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ BRASI ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆        ┆      ┆ o Sup ┆       ┆ a     ┆ PAULO ┆       ┆ L     ┆       │
│     ┆ UVA ┆     ┆        ┆        ┆      ┆ erior ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ BRASI ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆ ro     ┆      ┆ o     ┆       ┆ a     ┆ DUVA  ┆       ┆ L     ┆       │
│     ┆ UVA ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ BRASI ┆ true  │
│ 9   ┆ TO  ┆     ┆        ┆ ro     ┆      ┆ o     ┆       ┆ a     ┆ UI    ┆       ┆ L     ┆       │
│     ┆ AND ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ 3ª    ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ BRASI ┆ true  │
│ 9   ┆ AJU ┆     ┆        ┆ ro     ┆      ┆ Série ┆       ┆ a     ┆ UI    ┆       ┆ L     ┆       │
│     ┆ I   ┆     ┆        ┆        ┆      ┆ do    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Ensin ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ o     ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴────────┴──────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [179]:
df = df.with_columns(
    pl.col('ANO_NASCIMENTO').cast(pl.Int16),
    pl.col('VINCULACAO_ANO').cast(pl.Int16),
    pl.col('MUN_NASCIMENTO').cast(pl.Categorical),
    pl.col('UF_NASCIMENTO').cast(pl.Categorical),
    pl.col('MUN_RESIDENCIA').cast(pl.Categorical),
    pl.col('UF_RESIDENCIA').cast(pl.Categorical),
).with_columns(
    nasceu_no_brasil = pl.when(
        pl.col('PAIS_NASCIMENTO') == 'BRASIL'
    ).then(True).otherwise(False)
).with_columns(
    reside_no_brasil = pl.when(
        pl.col('PAIS_RESIDENCIA') == 'BRASIL'
    ).then(True).otherwise(False)
).drop(['PAIS_NASCIMENTO', 'PAIS_RESIDENCIA'])

In [180]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬──────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ SEXO ┆ ESCOLA ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ---  ┆ RIDADE ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ str  ┆ ---    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi │
│ MEN ┆ MEN ┆ ENT ┆ str    ┆      ┆ str    ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     │
│ TO  ┆ TO  ┆ O   ┆        ┆      ┆        ┆ i16   ┆ ---   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   │
│ --- ┆ --- ┆ --- ┆        ┆      ┆        ┆       ┆ str   ┆       ┆       ┆       ┆ bool  ┆ bool  │
│ i16 ┆ cat ┆ cat ┆        ┆      ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪══════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ CAL ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ SUNUN ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆ GA    ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆      ┆ Superi ┆       ┆ a     ┆ PAULO ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆      ┆ or Com ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ pleto  ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ DUVA  ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ TO  ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ M    ┆ 3ª     ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AJU ┆     ┆ ro     ┆      ┆ Série  ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆      ┆ do     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ Ensino ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ Médio  ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴──────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [181]:
df.select('ESTADO_CIVIL').unique().to_series().to_list()

['Desquitado',
 'Casado',
 'Outros',
 'Viúvo',
 'Solteiro',
 'Divorciado',
 'Separado Judicialmente',
 'ViÃºvo']

In [182]:
df = df.with_columns(
    pl.col('ESTADO_CIVIL').replace({
        'ViÃºvo': 'Viúvo',
        'Desquitado': 'Divorciado',
        'Separado Judicialmente': 'Divorciado',
        'Outros': 'Não informado'
    }).cast(pl.Categorical)
)

In [183]:
df.select('ESTADO_CIVIL').unique().to_series().to_list()

['Solteiro', 'Divorciado', 'Viúvo', 'Não informado', 'Casado']

In [184]:
df.select(
    pl.col('ESTADO_CIVIL').value_counts()
).unnest('ESTADO_CIVIL')

shape: (5, 2)
┌───────────────┬──────────┐
│ ESTADO_CIVIL  ┆ count    │
│ ---           ┆ ---      │
│ cat           ┆ u32      │
╞═══════════════╪══════════╡
│ Divorciado    ┆ 47968    │
│ Casado        ┆ 366365   │
│ Viúvo         ┆ 1320     │
│ Solteiro      ┆ 25453727 │
│ Não informado ┆ 225393   │
└───────────────┴──────────┘

In [185]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬──────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ SEXO ┆ ESCOLA ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ---  ┆ RIDADE ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ str  ┆ ---    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi │
│ MEN ┆ MEN ┆ ENT ┆ cat    ┆      ┆ str    ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     │
│ TO  ┆ TO  ┆ O   ┆        ┆      ┆        ┆ i16   ┆ ---   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   │
│ --- ┆ --- ┆ --- ┆        ┆      ┆        ┆       ┆ str   ┆       ┆       ┆       ┆ bool  ┆ bool  │
│ i16 ┆ cat ┆ cat ┆        ┆      ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪══════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ CAL ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ SUNUN ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆ GA    ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆      ┆ Superi ┆       ┆ a     ┆ PAULO ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆      ┆ or Com ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ pleto  ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ DUVA  ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ TO  ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ M    ┆ 3ª     ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AJU ┆     ┆ ro     ┆      ┆ Série  ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆      ┆ do     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ Ensino ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ Médio  ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴──────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [186]:
df.select('SEXO').unique().to_series().to_list()

['M', 'F']

In [187]:
df = df.with_columns(
    e_homem = pl.when(
        pl.col('SEXO') == 'M'
    ).then(True).otherwise(False)
).drop('SEXO')

In [188]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ ESCOL ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid ┆ e_hom │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ARIDA ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ ┆ em    │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ DE    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi ┆ ---   │
│ MEN ┆ MEN ┆ ENT ┆ cat    ┆ ---   ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     ┆ bool  │
│ TO  ┆ TO  ┆ O   ┆        ┆ str   ┆ i16   ┆ ---   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   ┆       │
│ --- ┆ --- ┆ --- ┆        ┆       ┆       ┆ str   ┆       ┆       ┆       ┆ bool  ┆ bool  ┆       │
│ i16 ┆ cat ┆ cat ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ CAL ┆     ┆ ro     ┆ o     ┆       ┆ a     ┆ SUNUN ┆       ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆ Médio ┆       ┆       ┆ GA    ┆       ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ Ensin ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆ o Sup ┆       ┆ a     ┆ PAULO ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ erior ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆ ro     ┆ o     ┆       ┆ a     ┆ DUVA  ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ TO  ┆     ┆ ro     ┆ o     ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ 3ª    ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AJU ┆     ┆ ro     ┆ Série ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆ do    ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Ensin ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ o     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [189]:
df.select('ZONA_RESIDENCIAL').unique().to_series().to_list()

['Rural', 'Urbana']

In [190]:
df = df.with_columns(
    mora_na_zona_urbana = pl.when(
        pl.col('ZONA_RESIDENCIAL')  == 'Urbana'
    ).then(True).otherwise(False)
).drop('ZONA_RESIDENCIAL')

In [191]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ ESCOL ┆ VINCU ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid ┆ e_hom ┆ mora_ │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ARIDA ┆ LACAO ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ ┆ em    ┆ na_zo │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ DE    ┆ _ANO  ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi ┆ ---   ┆ na_ur │
│ MEN ┆ MEN ┆ ENT ┆ cat    ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     ┆ bool  ┆ bana  │
│ TO  ┆ TO  ┆ O   ┆        ┆ str   ┆ i16   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   ┆       ┆ ---   │
│ --- ┆ --- ┆ --- ┆        ┆       ┆       ┆       ┆       ┆       ┆ bool  ┆ bool  ┆       ┆ bool  │
│ i16 ┆ cat ┆ cat ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ PIRAS ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ CAL ┆     ┆ ro     ┆ o     ┆       ┆ SUNUN ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆ Médio ┆       ┆ GA    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ Ensin ┆ 2007  ┆ SAO   ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆ o Sup ┆       ┆ PAULO ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ erior ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ CATAN ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆ ro     ┆ o     ┆       ┆ DUVA  ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ TO  ┆     ┆ ro     ┆ o     ┆       ┆ UI    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ 3ª    ┆ 2007  ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  │
│ 9   ┆ AJU ┆     ┆ ro     ┆ Série ┆       ┆ UI    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆ do    ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Ensin ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ o     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [192]:
print(df.select('ESCOLARIDADE').unique().to_series().to_list())

['4° Ano - Ensino Médio (Profissionalizante)', '10° Semestre - Ensino Superior', '2Â° Ano - Ensino Fundamental', '7° Ano - Ensino Fundamental', '4° Semestre - Ensino Superior', '3ª Série do Ensino Médio', '3Â° Ano - Ensino MÃ©dio', '1° Ano - Ensino Fundamental', 'Doutorado', '3° Semestre - Ensino Superior', 'Pós-Graduação', '6Â° Ano - Ensino Fundamental', '9Â° Semestre - Ensino Superior', '7ª Série do Ensino Fundamental', '9° Semestre - Ensino Superior', '2Â° Semestre - Ensino Superior', '4Â° Ano - Ensino Fundamental', '2° Semestre - Ensino Superior', 'Pós-Doutorado', '2° Semestre do Ensino Superior', '4Â° Semestre - Ensino Superior', 'Ensino MÃ©dio Completo', '2° Ano - Ensino Fundamental', '1Â° Semestre - Ensino Superior', '6Â° Semestre - Ensino Superior', '1° Semestre do Ensino Superior', '7Â° Semestre - Ensino Superior', '6° Ano - Ensino Fundamental', '3° Ano - Ensino Fundamental', 'PÃ³s-GraduaÃ§Ã£o', '9ª Série do Ensino Fundamental', '6° Semestre do Ensino Superior', '1° Ano - Ensino Médio', '5ª Série do Ensino Fundamental', '3° Ano - Ensino Médio', '3° Semestre do Ensino Superior', '1Â° Ano - Ensino Fundamental', '4Â° Ano - Ensino MÃ©dio (Profissionalizante)', 'PÃ³s-GraduaÃ§â\x95\x9eo', '8Â° Semestre - Ensino Superior', '8° Semestre - Ensino Superior', '3ª Série do Ensino Fundamental', '3Â° Semestre - Ensino Superior', '5° Semestre - Ensino Superior', 'Ensino Médio Completo', '9° Semestre do Ensino Superior', '4ª Série do Ensino Médio', '9° Ano - Ensino Fundamental', '10Â° Semestre - Ensino Superior', '2Â° Ano - Ensino MÃ©dio', '6ª Série do Ensino Fundamental', 'Mestrado', '5Â° Ano - Ensino Fundamental', '7Â° Ano - Ensino Fundamental', 'Ensino Fundamental Completo', '1ª Série do Ensino Médio', '10° Semestre do Ensino Superior', 'Ensino Superior Completo', '6° Semestre - Ensino Superior', '2ª Série do Ensino Fundamental', '8° Ano - Ensino Fundamental', '5° Ano - Ensino Fundamental', '5Â° Semestre - Ensino Superior', 'Alfabetizado', 'Analfabeto', '4° Semestre do Ensino Superior', '8ª Série do Ensino Fundamental', '8Â° Ano - Ensino Fundamental', '1° Semestre - Ensino Superior', '5° Semestre do Ensino Superior', '8° Semestre do Ensino Superior', '1ª Série do Ensino Fundamental', '1Â° Ano - Ensino MÃ©dio', 'PÃ³s-Doutorado', '4° Ano - Ensino Fundamental', '3Â° Ano - Ensino Fundamental', '2° Ano - Ensino Médio', '4ª Série do Ensino Fundamental', '7° Semestre - Ensino Superior', '2ª Série do Ensino Médio', '7° Semestre do Ensino Superior', '9Â° Ano - Ensino Fundamental']

In [193]:
df = df.with_columns(
    pl.col('ESCOLARIDADE').str.replace_many({
        'Â°': 'º',
        'Ã©': 'é',
        'Ã§â\x95\x9eo': 'ção',
        'Ã§Ã£o': 'ção',
        'Ã³': 'ó'
    }, ascii_case_insensitive=True)
)

In [194]:
print(df.select('ESCOLARIDADE').unique().to_series().to_list())

['8° Ano - Ensino Fundamental', '1º Ano - Ensino Médio', '2° Ano - Ensino Médio', '8º Semestre - Ensino Superior', '6º Ano - Ensino Fundamental', '1º Ano - Ensino Fundamental', '4° Ano - Ensino Fundamental', '7° Semestre - Ensino Superior', '5° Ano - Ensino Fundamental', '8° Semestre do Ensino Superior', '1° Ano - Ensino Médio', '3° Ano - Ensino Fundamental', '9ª Série do Ensino Fundamental', '7º Ano - Ensino Fundamental', '1° Semestre do Ensino Superior', '3º Semestre - Ensino Superior', '5º Ano - Ensino Fundamental', '7° Semestre do Ensino Superior', 'Pós-Doutorado', '2ª Série do Ensino Fundamental', '6° Semestre do Ensino Superior', '9° Ano - Ensino Fundamental', '5° Semestre do Ensino Superior', '7ª Série do Ensino Fundamental', '6º Semestre - Ensino Superior', '2º Ano - Ensino Médio', '2º Ano - Ensino Fundamental', '2° Semestre do Ensino Superior', '10º Semestre - Ensino Superior', '1° Ano - Ensino Fundamental', '3° Semestre do Ensino Superior', '5º Semestre - Ensino Superior', '4° Ano - Ensino Médio (Profissionalizante)', '4° Semestre - Ensino Superior', '8º Ano - Ensino Fundamental', '5ª Série do Ensino Fundamental', '2ª Série do Ensino Médio', '4º Ano - Ensino Fundamental', '3ª Série do Ensino Fundamental', '6° Ano - Ensino Fundamental', '10° Semestre - Ensino Superior', '3ª Série do Ensino Médio', 'Mestrado', '4ª Série do Ensino Fundamental', '9° Semestre - Ensino Superior', '6ª Série do Ensino Fundamental', 'Ensino Médio Completo', '2° Semestre - Ensino Superior', '3º Ano - Ensino Médio', '8ª Série do Ensino Fundamental', '9º Ano - Ensino Fundamental', '9º Semestre - Ensino Superior', 'Doutorado', '1ª Série do Ensino Médio', '1º Semestre - Ensino Superior', '1° Semestre - Ensino Superior', '2° Ano - Ensino Fundamental', '4ª Série do Ensino Médio', '4º Ano - Ensino Médio (Profissionalizante)', 'Ensino Fundamental Completo', '1ª Série do Ensino Fundamental', '8° Semestre - Ensino Superior', '7° Ano - Ensino Fundamental', 'Ensino Superior Completo', '5° Semestre - Ensino Superior', '6° Semestre - Ensino Superior', '3° Semestre - Ensino Superior', '4º Semestre - Ensino Superior', '4° Semestre do Ensino Superior', 'Pós-Graduação', '3º Ano - Ensino Fundamental', '9° Semestre do Ensino Superior', 'Alfabetizado', '2º Semestre - Ensino Superior', '7º Semestre - Ensino Superior', '10° Semestre do Ensino Superior', 'Analfabeto', '3° Ano - Ensino Médio']

In [195]:
ordem_escolaridade = [
    'Analfabeto',
    'Alfabetizado',
    'Ensino Fundamental',
    'Ensino Médio',
    'Graduação',
    'Pós-Graduação'
]

In [196]:
df = df.with_columns(
    nivel_escolar = (
        pl.when(pl.col('ESCOLARIDADE') == 'Analfabeto').then(pl.lit('Analfabeto'))
        .when(pl.col('ESCOLARIDADE') == 'Alfabetizado').then(pl.lit('Alfabetizado'))
        .when(pl.col('ESCOLARIDADE').str.contains('Ensino Fundamental', literal=True)).then(pl.lit('Ensino Fundamental'))
        .when(pl.col('ESCOLARIDADE').str.contains('Ensino Médio', literal=True)).then(pl.lit('Ensino Médio'))
        .when(pl.col('ESCOLARIDADE').str.contains('Ensino Superior', literal=True)).then(pl.lit('Graduação'))
        .otherwise(pl.lit('Pós-Graduação'))
    )
).with_columns(
    pl.col('nivel_escolar').cast(pl.Enum(ordem_escolaridade))
).drop('ESCOLARIDADE')

In [197]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ VINCU ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid ┆ e_hom ┆ mora_ ┆ nivel │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ LACAO ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ ┆ em    ┆ na_zo ┆ _esco │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ _ANO  ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi ┆ ---   ┆ na_ur ┆ lar   │
│ MEN ┆ MEN ┆ ENT ┆ cat    ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     ┆ bool  ┆ bana  ┆ ---   │
│ TO  ┆ TO  ┆ O   ┆        ┆ i16   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   ┆       ┆ ---   ┆ enum  │
│ --- ┆ --- ┆ --- ┆        ┆       ┆       ┆       ┆       ┆ bool  ┆ bool  ┆       ┆ bool  ┆       │
│ i16 ┆ cat ┆ cat ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ 2007  ┆ PIRAS ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  ┆ Ensin │
│ 9   ┆ CAL ┆     ┆ ro     ┆       ┆ SUNUN ┆       ┆       ┆       ┆       ┆       ┆       ┆ o     │
│     ┆ VAD ┆     ┆        ┆       ┆ GA    ┆       ┆       ┆       ┆       ┆       ┆       ┆ Médio │
│     ┆ O   ┆     ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ 2007  ┆ SAO   ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  ┆ Gradu │
│ 9   ┆ AND ┆     ┆        ┆       ┆ PAULO ┆       ┆       ┆       ┆       ┆       ┆       ┆ ação  │
│     ┆ UVA ┆     ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ 2007  ┆ CATAN ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  ┆ Ensin │
│ 9   ┆ AND ┆     ┆ ro     ┆       ┆ DUVA  ┆       ┆       ┆       ┆       ┆       ┆       ┆ o     │
│     ┆ UVA ┆     ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ Médio │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ 2007  ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  ┆ Ensin │
│ 9   ┆ TO  ┆     ┆ ro     ┆       ┆ UI    ┆       ┆       ┆       ┆       ┆       ┆       ┆ o     │
│     ┆ AND ┆     ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ Médio │
│     ┆ RE  ┆     ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ 2007  ┆ PIRAJ ┆ SP    ┆ true  ┆ true  ┆ true  ┆ true  ┆ true  ┆ Ensin │
│ 9   ┆ AJU ┆     ┆ ro     ┆       ┆ UI    ┆       ┆       ┆       ┆       ┆       ┆       ┆ o     │
│     ┆ I   ┆     ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ Médio │
└─────┴─────┴─────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [198]:
df.select(
    pl.col('nasceu_no_brasil').value_counts(),
    pl.col('reside_no_brasil').value_counts(),
    pl.col('e_homem').value_counts(),
    pl.col('mora_na_zona_urbana').value_counts(),
)

shape: (2, 4)
┌──────────────────┬──────────────────┬─────────────────┬─────────────────────┐
│ nasceu_no_brasil ┆ reside_no_brasil ┆ e_homem         ┆ mora_na_zona_urbana │
│ ---              ┆ ---              ┆ ---             ┆ ---                 │
│ struct[2]        ┆ struct[2]        ┆ struct[2]       ┆ struct[2]           │
╞══════════════════╪══════════════════╪═════════════════╪═════════════════════╡
│ {false,76630}    ┆ {true,25979512}  ┆ {false,13091}   ┆ {false,3176180}     │
│ {true,26018143}  ┆ {false,115261}   ┆ {true,26081682} ┆ {true,22918593}     │
└──────────────────┴──────────────────┴─────────────────┴─────────────────────┘

In [199]:
qtd_linhas = df.shape[0]
qtd_linhas

26094773

In [200]:
np.round(((26018143 / qtd_linhas) * 100), decimals=2)

np.float64(99.71)

In [201]:
np.round(((76630 / qtd_linhas) * 100), decimals=2)

np.float64(0.29)

In [202]:
np.round(((25979512 / qtd_linhas) * 100), decimals=2)

np.float64(99.56)

In [203]:
np.round(((115261 / qtd_linhas) * 100), decimals=2)

np.float64(0.44)

In [204]:
np.round(((26081682 / qtd_linhas) * 100), decimals=2)

np.float64(99.95)

In [205]:
np.round(((13091 / qtd_linhas) * 100), decimals=2)

np.float64(0.05)

In [206]:
np.round(((22918593 / qtd_linhas) * 100), decimals=2)

np.float64(87.83)

In [207]:
np.round(((3176180 / qtd_linhas) * 100), decimals=2)

np.float64(12.17)

In [208]:
df = df.filter(
    pl.col('nasceu_no_brasil') == True,
    pl.col('reside_no_brasil') == True,
    pl.col('e_homem') == True
)